@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');


*{
    margin:0;

}

header{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    position:fixed;
    top:0;
    left:0;
    z-index: 999;
    transition: 0.6s;
    background: #a1643e;
}

header .menu_button{
color: #ffffff;
font-size: 25px;
cursor:pointer;
display: none;
padding: 15px;
}
    
header.down{
    background: #a1643ecc;
    height: 70px;
    
}



.nav_menu ul{
list-style: none;
display:flex;
padding: 15px;
font-size: 25px;

}


.nav_menu ul li {
    display: inline-block;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.nav_menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 7px 12px;
    
}

.nav_menu ul li a:hover{

    font-size: 27px;
    
}

.logo{
    max-width: 100px;
    height: 70px;
}

body{
    background-image:url(../images/fondo_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.background_back{
    background-color: rgba(0, 0, 0, 0.562);
    max-width: 100%;
}

.buttons_download{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.section_1{
    display: flex;
    margin-top: 35px;

}
.section_2{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    }
.section_3{
    display: flex;
    align-items:center;
    margin-top: 35px;
}   
.section_4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
}   
.section_5{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.section_6{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 35px;
    justify-content:space-around;
} 



.people_s4{
    margin-top: 50px;
    border-radius: 130px;
    border: 3px #B8774F solid;

}

.people_s4 img{
    width: 150px;
    height: 150px;
}


.section_4 p{
    margin: 30px;
    text-align: center;
    color: #000000;
}

.section_4 h3{
    
    text-align: center;

}

.section_5 h1{
    color: #C8B57D;
}

    h3{
        margin: 50px;
        color: #000000;
        font-family: 'Cormorant', serif;

    }
    
    .buttons_plan{
        background: #B8774F;
        border-radius: 17px;
        border:5px #B8774F solid;
        margin: 20px;
        color: rgb(0, 0, 0);
        
        text-align: center;
        font-size: x-large;
    }

    .buttons_plan:hover{
        background: #a1643e;
        border:5px #a1643e solid;
    }

    .column_s2:hover{
        border:5px #B8774F solid;
    }
    
    .plans_{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .column_s2{
    
        background: #ffffffab;
        border-radius: 45px;
        border:5px #a1643e solid;
        padding: 5px;
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 480px;
        width: 300px;
        justify-content:space-around;
    
    }
    
    .column_s2 h1{
        color: #000000;
        text-align: center;
        font-size: 25px;
    }

    .column_s2  p{
        color: #000000;
        text-align:center;
        margin:10px;

    }

    
.column_1{
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center
}

.peoples{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    font-family: 'Cormorant', serif;
    
}

.background_us{
    background-color: #C8B57D;
    border-radius: 20px;
}

.people p{
    color: white;
    text-align: center;
    padding: 15px;
    color:#252525;
}

.column_3{
padding: 10px;
display: flex;
flex-direction: column;

}


.images_phone{
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 50px;
}


.images_sample_1{
    margin: 3%;
}

.images_sample_1 .image_3{
  height:44vw;
    width:34vw;   
}

.images_sample_2{
    display: flex;
    justify-content: center;
    margin-right: 90px;
    margin-left: 90px;
}

.images_sample_2 p{
    font-size: 2.5vw;
    color: #ffffff;
    
}


.image_1{
    height:5vw;
    width:20vw;
    display: flex;
    justify-content: center;
}

.image_2{
    height:5vw;
    width:20vw;
    display: flex;
    justify-content: center;
}

.image_3{
    border-radius: 34px;
    
}

.images_phone .image_3{
    height:40vw; 
}

.image_1:hover{
    height:6vw;
    width:25vw;
}

.image_2:hover{
    height:6vw;
    width:25vw;
}

.imagen_networks{
    padding: 10px;
}

.prot_{
    margin: auto;
}

.prot_ .image_3{
    height:30vw;
    width: 15vw; 
}

main{
    padding:20px ;
    display: flex;
    flex-direction: column;
}

h1{
    margin:3%;
    color: #C8B57D;
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Inter', sans-serif;
}

h2{
    margin: 15px;
    color: white;
    font-family: 'Cormorant', serif;
    text-align: center;
    font-size: 2.5vw;
}

.footer1{
 
    padding: 15px;
    background: #252525;
    display: flex;
    justify-content: space-around;
}

.footer2{
    border-top: #c8b57d27 solid 1px;
    padding: 10px;
    background: #252525;
    display: flex;
    justify-content: space-between;
    height: 15px;
    color: #ffffff;
    font-size: 10px;
}

.footer2 ul{
    list-style: none;
    display:flex;
    justify-content: space-between;

}
.footer2 ul li{

margin-left: 75px;
margin-right: 25px;

}

footer{
  
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media screen and (max-width:990px){

    header .menu_button{
        display: block;
    }
    header .nav_menu.active{
        right: 0;
    }

    header .nav_menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .nav_menu{
        position: fixed;
        background:#B8774F;
        min-width: 200px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
        
    }

    header .menu ul li a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }

    .nav_menu ul{
           
        font-size: 15px;
        flex-direction: column;
        }
        .images_sample_2 {
            
            flex-wrap: wrap;
    
    }
    
    .images_sample_1 {
        display: flex;
        justify-content: center;
}

    


    .section_1{
        display: flex;
        flex-direction: column;
            margin-top: 47px;
        
    }

    .peoples{
        flex-wrap: wrap;
    }

    .plans_{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .column_s2 {
        margin-top: 10px;
        height:60vw;
        width: 30vw;
    }
    .image_3{
        border-radius: 20px;
        
    }

    .nav_menu ul li a:hover{

        font-size: 15px;
        
    }

    h2{
        font-size: 3.5vw;
    }

}
  
    @media screen and (max-width:480px){


        .section_1{
            display: flex;
            flex-direction: column;
            margin-top: 55px;
        }
        
        .section_3{
            
            flex-direction: column;
        }   
        .section_4{
            display: flex;
            flex-direction: column;
            
            
        }   
        .nav_menu ul{
           
            font-size: 15px;
            }
        
            
            .images_sample_2{
                display: flex;
                flex-direction: column;
            }

            h1{
                
                font-size: 30px;
                
            }
            
            h2{
                margin: 10px;
                font-size: 4vw;
                
                
            }

            .plans_{
                flex-direction: column;
            }

            .column_s2 {
    
                
                padding: 10px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                height: 400px;
                width: 200px;
                
            }

            .peoples{
                flex-direction: column;
            }

            .footer1{ 
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }

            .footer2{
                padding: 20px;
            }
            
            .image_3{
                border-radius: 15px;
                
            }

            .prot_ .image_3{
                height:60vw;
                width: 31vw; 
            }

            .images_sample_2 p{
                font-size: 5vw;
            }
    }